.menu:global(.ant-dropdown) {
  :global(.ant-dropdown-menu) {
    width: 160px;

    :global(.ant-dropdown-menu-item) {
      height: 48px;

      :global(.ant-dropdown-menu-title-content) {
        :global(.anticon) {
          font-size: 24px;
        }
      }
    }
  }
}