<div class="company-name-container">
    <div class="company-name">
        <h1 class="mat-h1">Rosselle Co., Ltd. Thailand</h1>
    </div>
</div>
<div class="company-info-container">
    <div class="company-info">
        <p>Rosselle is a Propylene Glycol Alginate (PGA) importer in Thailand with competitive price and exceptional quality. Our supplier is KIMICA Corporation (Japan) who is an worldwide supplier of alginate.</p>
        <p>Established in 2004, Rosselle has been the importer of food additives to meet the demand of extensively growing food industry in Thailand. Starting from flavors, Rosselle continuously develops and fine tune our product lines to ensure that our customers's needs will be satisfied. With more than 15 years of experience, Rosselle has imported various food additives, Tapioca Starch, Vital Wheat Gluten, and Propylene Glycol Alginate (PGA), to name a few. All of our products are certified food grade with other certifications such as Halal and ISO availavle depending on each product. Currently, we are offering Propylene Glycol Alginate (PGA) as the only product in our portfolio and we have partnered with KIMICA Corporation (Japan) who is an worldwide supplier of alginate. Here at Rosselle, we take it crucial to serve our customers with the good quality products from the best-in-class suppliers.</p>
    </div>
</div>
<div class="company-detail-container">
    <table class="company-detail-table">
        <tbody>
            <tr>
                <td>Name</td>
                <td>Rosselle Company Limited</td>
            </tr>
            <tr>
                <td>Founded</td>
                <td>May, 2003</td>
            </tr>
            <tr>
                <td>CEO</td>
                <td>Anongnuch Walaipatchara</td>
            </tr>
            <tr>
                <td>Capital</td>
                <td>THB฿1,000,000</td>
            </tr>
            <tr>

            </tr>
            <tr>
                <td>Office</td>
                <td>111/63, Mu 7, Bang Phai, Bang Khae, Bangkok, 10160, Thailand</td>
            </tr>
        </tbody>
    </table>
</div>