.company-name {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    margin-bottom: 3%;
    padding-bottom: 1%;
    border-bottom: 1px solid lightgrey;
}

.company-name h1 {
    font-weight: 400;
    color: rgb(100, 100, 100);
    font-size: 3vh
}

.company-info {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
}

.company-info p {
    color: rgb(120, 120, 120);
    font-family: Helvetica Neue, Arial, sans-serif;
    font-weight: 300;
    font-size: 2vh;
    line-height: 2.4;
}

.company-detail-table {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
    font-family: Roboto;
    font-size: 1.5vh;
}

.company-detail-table tr td {
    padding: 3% 0%;
    line-height: 1.6;
}

.company-detail-table tr {
    /* border-top: 1px solid #a4abb3; */
    border-bottom: 1px solid #a4abb3;
    width: 100%;
    height: 5%;
}

.company-detail-table tr:first-child {
    /* border-top: 1px solid #a4abb3;
    border-bottom: 1px solid #a4abb3; */
}

.company-detail-table tr td:first-child {
    /* border-top: 1px solid #a4abb3; */
    margin-bottom: 1px;
    border-bottom: 1px solid #a4abb3;
    width: 15%;
    max-width: 150px;
    min-width: 30px;
    background-color: #eeeeee;
    text-align: center;
}

.company-detail-table tr td:last-child {
    /* border-top: 1px solid #a4abb3; */
    border-bottom: 1px solid #a4abb3;
    width: 30%;
    max-width: 700px;
    min-width: 100px;
    background-color: white;
    text-align: center;
}