.container:global(.ant-modal) {
  :global(.ant-modal-header) {
    :global(.ant-modal-title) {
      font-size: 28px;
      line-height: 36px;
      color: #808080
    }
  }

  :global(.ant-modal-body) {
    * {
      font-size: 16px;
      line-height: 24px;
    }

    .phoneRow {
      :global(.anticon-phone) svg {
        font-size: 30px;
      }
    }

    .emailRow {
      :global(.anticon-mail) svg {
        font-size: 30px;
      }
    }

    :global(.ant-row) {
      margin-top: 16px;
    }
  }
}