<div class="contact-header-container">
    <div class="contact-header">
        <h1>Contact Us</h1>
    </div>
</div>
<div class="contact-detail-container">
    <div class="contact-detail-phone">
        <div class="phone-icon">
            <mat-icon>phone</mat-icon>
        </div>
        <div class="phone-detail">
            <h2>+662 410-4043 (9:00 - 16:30 Mon-Fri Thailand Standard Time)</h2>
        </div>
    </div>
    <div class="contact-detail-email">
        <div class="email-icon">
            <mat-icon>email</mat-icon>
        </div>
        <div class="email-detail">
            <a href="mailto:rosselle_aw@hotmail.com"><h2>rosselle_aw@hotmail.com</h2></a>
        </div>
    </div>
    <div class="contact-detail-footer">
        <div class="footer-detail">
        <p>Do not hestitate to reach out for more detail regarding our products</p>
    </div>
    </div>
</div>