.container {
  display: flex;
  flex-flow: column;
  align-items: center;
  padding: 160px 10vw 0 10vw;

  .title {
    font-size: 36px;
    line-height: 48px;
    font-weight: bold;
    color: #808080;
  }

  .subTitle {
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    color: darkgrey;
  }

  .briefDescription {
    width: 70%;
    text-align: center;

    font-size: 16px;
    line-height: 24px;
    color: #5d5d5d;
  }

  :global(.ant-divider) {
    margin: 32px 0
  }

  :global(.ant-carousel) {
    width: 80%;
  }

  :global(.ant-collapse) {
    width: 100%;

    :global(.ant-collapse-content-box) {
      :global(.ant-splitter) {
        font-size: 16px;
        line-height: 24px;
        white-space: pre-wrap;

        :global(.ant-splitter-panel) {
          display: flex;
          flex-flow: column;
          justify-content: center;
          align-items: center;

          :global(span) {
            text-align: center;
          }
        }
      }
    }

    .collapseImg {
      margin-left: 16px;
      width: calc(100% - 16px) !important;
      height: auto !important;
    }
  }

  :global(.ant-descriptions) {
    width: 100%;

    :global(.ant-descriptions-title) {
      font-size: 20px;
      line-height: 28px;
      font-weight: bold;
    }

    :global(.ant-descriptions-item-label) {
      font-size: 16px;
      line-height: 24px;
      font-weight: bold;
    }

    :global(.ant-space).certificationLogos {
      height: 60px;

      :global(.ant-space-item) {
        height: 100%;

        & img {
          height: 100% !important;
          width: auto !important;
        }
      }
    }
  }

  :global(img) {
    position: unset !important;
  }
}