.header {
    position: fixed;
    z-index: 800;
    background-color: gray;
    opacity: 1;
    height: 72px;
}

.router-outlet {
    margin-top: 72px;
    width: 100%;
    height: 100%;
    overflow: scroll;
    z-index: -1;
}

.space-before-footer {
    height: 60px
}

.footer {
    height: 48px;
}