<div class="products-container">
    <!-- <div class="pga-img">
        <img src="../../assets/algae.jpg" alt="Propylene Glycol Alginate">
    </div> -->
    <div class="pga">
        <div class="pga-header">
            <h1 class="mat-h1">Propylene Glycol Alginate (PGA)</h1>
        </div>
        <div class="pga-detail">
            <div class="pga-detail-general pga-section">
                <div class="pga-img-left">
                    <img src="../../assets/algae.jpg">
                </div>
                <div class="pga-description">
                    Propylene Glycol Alginate (PGA) is formed through an esterification of alginic acid with propylele
                    glycol groups. It is soluble in both hot and cold water resulting in viscous solutions.
                </div>
            </div>
            <div class="pga-detail-thicken pga-section">
                <div class="pga-img-right">
                    <img src="../../assets/thickening.jpg">
                </div>
                <div class="pga-description">
                    PGA and Sodium Alginate are often compared as they share common applications. Sodium Alginate has limitations in some circumstances. It becomes insoluble at low pH or at high concentrations of calcium, rendering it to be unsuitable for thickening or stabilizing foods such as fruit drinks, dressings, and calcium-rich dairy products. PGA can be perfectly used in those areas.
                </div>
            </div>
            <div class="pga-detail-foam pga-section">
                <div class="pga-img-left">
                    <img src="../../assets/beer_foam.jpg">
                </div>
                <div class="pga-description">
                    PGA has one unique usage as a foam stabilizer in beer. Only a small concentration of PGA adding to beer maintain a fine foam when pouring into a glass.
                </div>
            </div>
            <div class="pga-detail-noodle-bread pga-section">
                <div class="pga-img-right">
                    <img src="../../assets/noodle.jpg">
                    <img src="../../assets/bread.jpg">
                </div>
                <div class="pga-description" style="padding-top: 15%;">
                    PGA can also be used in bread and noodles to improve texture. Adding PGA to bread dough can result in volume increase and improve elasticity.
                </div>
            </div>
            <!-- <div class="contact-us pga-section">
                <button mat-button color="primary" routerLink="contact">Contact Us <mat-icon>keyboard_arrow_right</mat-icon></button>
            </div> -->
        </div>
    </div>
</div>