.products-container {
    width: inherit;
    height: inherit;
}

.pga {
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 5%;
    background-color: white;
}

.pga-header {
    margin-bottom: 3%;
    padding-bottom: 1%;
    border-bottom: 1px solid lightgrey;
}

.pga-header h1{
    font-weight: 400;
    color: rgb(80, 80, 80);
    font-size: 3vh;
}

.pga-badges img {
    width: auto;
    /* height: 7vh; */
}

.pga-detail {
    width: inherit;
    height: inherit;
}

.pga-img-left {
    float: left;
    width: 20vw;
    height: auto;
    margin-right: 7%;
}

.pga-img-right {
    float: right;
    width: 24vw;
    height: auto;
    margin-left: 7%;
}

.pga-img-left img {
    width: 100%;
    height: auto;
}

.pga-img-right img {
    width: 100%;
    height: auto;
}

.pga-small-bag-icon {
    float: left;
    margin-right: 7%;
}
.pga-small-bag-icon mat-icon {
    font-size: min(9vw, 60px);
}
.pga-description {
    font-size: 2vh;
    line-height: 2.1;
    color: rgb(125, 125, 125);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pga-section {
    display: inline-block;
    margin-bottom: 5%;
}

.contact-us {
    width: 100%;
}

.contact-us button {
    font-size: 3vh;
    height: 8vh;
    line-height: 8vh;
    width: 30vw;
    min-width: 170px;
    background-color: rgba(122, 200, 222, 0.89);
}

.contact-us button mat-icon {
    width: inherit;
    height: inherit;
    font-size: 3vh;
}

ngb-carousel {
    height: 33.75vw;
    width: 60vw;
    margin-top: 5%;
    margin-bottom: 10%;
}

ngb-carousel .carousel-img-container>img {
    height: 33.75vw;
    width: 60vw;
}

@media screen and (max-width: 600px) { 
    .pga-section img { display: none; }  
}
