<div class="landing-container">
    <div class="landing-title">{{language.toLowerCase() === 'th' ? 'บริษัท โรสเซลล์ จำกัด' : 'Rosselle Co., Ltd.'}}</div>
    <mat-divider></mat-divider>
    <div class="landing-subtitle-container">
        <div class="landing-subtitle-emp">{{language.toLowerCase() === 'th' ? 'ผู้นำเข้าวัตถุเจือปนอาหาร ด้วยประสบการณ์มากกว่า 15 ปี ' : 'Food additive importer with decades of experience in Thailand'}}</div>
        <div class="landing-subtitle">{{language.toLowerCase() === 'th' ? 'เรายินดีที่ให้คำปรึกษา' : 'We are looking to serve your needs'}}</div>
    </div>
</div>