<div class="logo-head">
  <div class="logo-head-container">
    <div class="logo-container">
      <a routerLink="/">
        <img src="../../assets/rosselle.svg">
      </a>
    </div>

    <span class="fill-space"></span>
    <span flex></span>

    <div class="email-icon-container">
      <a href="mailto:rosselle_aw@hotmail.com">
        <mat-icon id="email-icon"> email</mat-icon>
      </a>
    </div>
  </div>
</div>

<div class="nav-bar">
  <mat-toolbar id="nav-toolbar">
    <div class="nav-toolbar-but-container">
      <button mat-button routerLink="products">
        Products
      </button>
      <button mat-button routerLink="about">About</button>
      <button mat-button routerLink="contact" style="background-color: rgba(122, 200, 222, 0.89);">Contact</button>
    </div>
  </mat-toolbar>
</div>